Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, create-build-tool-images

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

create-build-tool-images:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/multicloudlab-builder:v20191217-d33a10d
      securityContext:
        privileged: true
      command:
      - entrypoint
      - make
      - images

added new owner
  prow/cluster/jobs/IBM/ibm-catalog-operator/OWNERS
Due: none

removing one owner
  prow/cluster/jobs/IBM/ibm-catalog-operator/OWNERS
Due: none

onboard ibm-catalog-operator.
  prow/cluster/jobs/IBM/ibm-catalog-operator/IBM.ibm-catalog-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Remove unwanted jobs for Catalog Operator
  prow/cluster/jobs/IBM/ibm-catalog-operator/IBM.ibm-catalog-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

fix docker start issue for ibm-catalog-operator build.
  prow/cluster/jobs/IBM/ibm-catalog-operator/IBM.ibm-catalog-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

Adding ppc64le build support for docker-in-docker
  prow/docker/docker-in-docker/install.sh
Due: create-build-tool-images

onboard common-service-operator.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Onboarding CloudCTL operator
  prow/cluster/jobs/IBM/ibm-cloudctl-operator
Due: none

delete folder
  prow/cluster/jobs/IBM/ibm-cloudctl-operator
Due: none

onboarding cloudctl operator
  prow/cluster/jobs/IBM/ibm-cloudctl-operator/IBM.ibm-cloudctl-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

Owners file
  prow/cluster/jobs/IBM/ibm-cloudctl-operator/OWNERS
Due: none

onboard ibm-cloudctl-operator.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

support power for docker-in-docker tools.
  prow/docker/docker-in-docker/Dockerfile.amd64
  prow/docker/docker-in-docker/Dockerfile.ppc64le
  prow/docker/docker-in-docker/build-and-push.sh
Due: create-build-tool-images

onboarding common service operator
  prow/cluster/jobs/IBM/common-service-operator/IBM.common-service-operator.master.yaml
  prow/cluster/jobs/IBM/common-service-operator/OWNERS
Due: pull-test-infra-prow-checkconfig

fix lint
  prow/cluster/jobs/IBM/common-service-operator/OWNERS
Due: none

keep revision for manifests in prow custer.
  prow/cluster/deploy/cherry-picker.yaml
  prow/cluster/deploy/need-rebase.yaml
  prow/cluster/deploy/starter.yaml
Due: none

added licensing prow job
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/OWNERS
Due: pull-test-infra-prow-checkconfig

fix incorrect secret name for coverage token.
  prow/cluster/jobs/IBM/common-service-operator/IBM.common-service-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

onboard ibm-mt-grqenforcer-operator.
  prow/cluster/jobs/IBM/ibm-mt-grqenforcer-operator/IBM.ibm-metering-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

fix duplicated file name.
  prow/cluster/jobs/IBM/ibm-mt-grqenforcer-operator/IBM.ibm-mt-grqenforcer-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

replace rh-ibm-synergy/multicloud-operators-foundation import path
  prow/cluster/jobs/rh-ibm-synergy/multicloud-operators-foundation/rh-ibm-synergy.multicloud-operators-foundation.master.yaml
Due: pull-test-infra-prow-checkconfig

update the repo name from common-service-operator to meta-operator.
  prow/cluster/jobs/IBM/meta-operator/IBM.meta-operator.master.yaml
  prow/cluster/jobs/IBM/meta-operator/OWNERS
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

Add the cert-manager-operator to be integrated into prow.
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/OWNERS
Due: pull-test-infra-prow-checkconfig

support multiarch build.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

using utility images from quay.io
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

use prow to build go-repo-template.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

fix linter.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

onboard IBM/ibm-cert-manager-operator.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

onboard IBM/ibm-iam-operator.
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

onboard healthcheck-service-operator.
  prow/cluster/jobs/IBM/healthcheck-service-operator/IBM.healthcheck-service-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

onboard ibm-auditlogging-operator.
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

onboard ibm-commonui-operator.
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

onaboard ibm-mongodb-operator.
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

config tide for new repos.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

update prow jobs for ibm-management-repo-operator.
  prow/cluster/jobs/IBM/ibm-management-repo-operator/IBM.ibm-management-repo-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

onaboard management ingress and nginx ingress repo.
  prow/cluster/jobs/IBM/ingress-nginx-operator/IBM.ingress-nginx-operator.master.yaml
  prow/cluster/jobs/IBM/management-ingress-operator/IBM.management-ingress-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

fix lint.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

update repo name for ibm-healthcheck-operator.
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

add more plugins to manage github issues.
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

fix typo.
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  create-build-tool-images: any of: prow/docker/*
