Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-prow-checkconfig, check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230412-a86d65c3c2
      command:
      - /ko-app/checkconfig
      args:
      - --config-path=prow/s3/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --kubeconfig=/etc/kubeconfig/config
  ...

check-tool-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - check-tool-image
      securityContext:
        privileged: true

build-tool-image-amd64-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-ppc64le-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-s390x-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-multiarch-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-multiarch-image
      securityContext:
        privileged: true

Update golangci-lint to v1.60.1 to support go 1.23
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Update go version and use Artifactory mirror
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Add Artifactory login to prow
  prow/docker/build-tool/build-and-push.sh
  prow/docker/check-tool/build-and-push.sh
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Update go to use 1.23.2-bookworm
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Test build tool in PR
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

Investigate golang container
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Investigate golang keys
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Try sudo
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Test moving apt keys
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Run apt-get with debug
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

More debug commands
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

More debug commands 2
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Try apt
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

List permissions on keys
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

More debug
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Test PR build
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Try swapping go versions
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Revert "Test build tool in PR (#596)"
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

Update check-tool to new go install
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

Revert "Test PR build (#598)"
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Force rebuild of build and check tools
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Test new build tool image
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.master.yaml
Due: test-infra-prow-checkconfig

Update go from 1.23.2 to 1.23.3
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Try focal and new node
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Fix build check tool problems
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Trigger new builds of build check tool
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Fix python failure
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Update go from 1.23.3 to 1.23.4
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Fix docker install
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Back out check/build changes [skip ci]
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Rebuild tool images
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Path conditions:
  test-infra-prow-checkconfig: any of: ^prow/(config|plugins|s3/.*|cluster/jobs/.*)\.yaml$
  check-tool-image-postsubmit: any of: prow/docker/check-tool/*
  build-tool-image-amd64-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-ppc64le-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-s390x-postsubmit: any of: prow/docker/build-tool/*
  build-tool-multiarch-image-postsubmit: any of: prow/docker/build-tool/*
