Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-prow-checkconfig, check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

check-tool-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - check-tool-image
      securityContext:
        privileged: true

build-tool-image-amd64-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-ppc64le-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-s390x-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-multiarch-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-multiarch-image
      securityContext:
        privileged: true

test with test-infra
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

testbuildtool
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

checktool
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

Add release-ltsr branch for grafana-ocpthanos-proxy image
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
Due: test-infra-prow-checkconfig

Add release-323 branch to job definitions
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.master.yaml
Due: test-infra-prow-checkconfig

remove troublesome build definition
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.3.yaml
Due: test-infra-prow-checkconfig

remove old job definition
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.4.yaml
Due: test-infra-prow-checkconfig

remove old job definition
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.6.yaml
Due: test-infra-prow-checkconfig

remove old job definition
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.7.yaml
Due: test-infra-prow-checkconfig

bump golangci-lint to v1.51.2
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

and bump check tool too
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

PR for tool images installer
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-4.0.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.release-1.2.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.release-1.3.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.release-1.0.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.release-1.1.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.release-1.3.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.release-1.4.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.release-1.4.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.release-1.5.yaml
Due: test-infra-prow-checkconfig

build golang 1.20.3 tool images
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

test config updator plugin
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/config-s3.yaml
  prow/plugins-s3.yaml
Due: test-infra-prow-checkconfig

re send webook
  prow/config-s3.yaml
Due: none

pr to update test infra images
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

update test infra
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

use ns default for prowjobs
  prow/config-s3.yaml
Due: none

updatoer plugin
  prow/s3/config.yaml
  prow/s3/plugins.yaml
Due: none

plugins
  prow/s3/plugins.yaml
Due: none

test config updator
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/plugins.yaml
  prow/s3/config.yaml
Due: test-infra-prow-checkconfig

checkconfig not working yet we can deplay
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

checkconfig
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

update checkconfig
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

conifg
  prow/s3/config.yaml
Due: none

config
  prow/s3/config.yaml
Due: none

no trusted org
  prow/s3/plugins.yaml
Due: none

no plugin docs-no-retest
  prow/s3/plugins.yaml
Due: none

checkconfig no strict
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

new plugin config format
  prow/s3/plugins.yaml
Due: none

Path conditions:
  test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  check-tool-image-postsubmit: any of: prow/docker/check-tool/*
  build-tool-image-amd64-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-ppc64le-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-s390x-postsubmit: any of: prow/docker/build-tool/*
  build-tool-multiarch-image-postsubmit: any of: prow/docker/build-tool/*
