Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-prow-checkconfig, check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
      command:
      - /checkconfig
      args:
      - --config-path=prow/config.yaml
      - --job-config-path=prow/cluster/jobs
      - --plugin-config=prow/plugins.yaml
      - --strict
  ...

check-tool-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - check-tool-image
      securityContext:
        privileged: true

build-tool-image-amd64-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-ppc64le-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-image-s390x-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-image
      securityContext:
        privileged: true

build-tool-multiarch-image-postsubmit:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: quay.io/multicloudlab/build-tool:v20200817-ea5439085
      command:
      - entrypoint
      - make
      - build-tool-multiarch-image
      securityContext:
        privileged: true

add image pull secret to ingress nginx
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
Due: test-infra-prow-checkconfig

trigger hybridapp
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.release.yaml
Due: test-infra-prow-checkconfig

bump library version for golang 1.18
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

update build and check images for hybrid application
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.master.yaml
Due: test-infra-prow-checkconfig

Remove always_run from development submits
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.development.yaml
Due: test-infra-prow-checkconfig

Fix insufficient authentication scopes
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
Due: test-infra-prow-checkconfig

Add ltsr for monitoring
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.master.yaml
Due: test-infra-prow-checkconfig

build-tool down to golang 1.18.6 as requested
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

check-tool down to golang 1.18.6 as requested
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

down golang to 1.18.6 instead
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

down golang to 1.18.6 instead
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

bump check-tool in crossplane
  prow/cluster/jobs/IBM/ibm-crossplane-operator/IBM.ibm-crossplane-operator.master.yaml
Due: test-infra-prow-checkconfig

with the expected version from security golang 1.18.7
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

with the expected version from security golang 1.18.7
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

tool images with golang 2.19.2 for hybridapp.io
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.master.yaml
Due: test-infra-prow-checkconfig

bump golang to v1.18.8
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

bump golang to v1.18.8
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

Disable nginx eus branch as test Signed-off-by: ashank <ashank@us.ibm.com>
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
Due: test-infra-prow-checkconfig

Update IBM.ibm-metering-operator.release-3.5.yaml
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.release-3.5.yaml
Due: test-infra-prow-checkconfig

test new prow to build golang v1.18.9
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

update prow cluster and zone in Makefile
  prow/Makefile
Due: none

testbuild
  common/scripts/config_docker.sh
Due: none

do not error out docker login although multicloudlab credential unknown
  common/scripts/config_docker.sh
Due: none

allow to change quay.io login user for tools image builds
  common/scripts/config_docker.sh
Due: none

build golang 1.18.9 instead
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

upgrade to 1.18.9 instead
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

global update tools images - for tools need tests
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/cluster/jobs/multicloudlab/tools/multicloudlab.tools.master.yaml
  prow/cluster/jobs/multicloudlab/tools/multicloudlab.tools.yaml
  prow/config.yaml
Due: test-infra-prow-checkconfig

adjust presets for push tool images
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/cluster/jobs/multicloudlab/tools/multicloudlab.tools.yaml
  prow/config.yaml
Due: test-infra-prow-checkconfig

fix typo for labels
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

bump to go 1.18.10
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

bump to go 1.18.10
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

revert test-infra
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: test-infra-prow-checkconfig

tests
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/config.yaml
Due: test-infra-prow-checkconfig

Path conditions:
  test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  check-tool-image-postsubmit: any of: prow/docker/check-tool/*
  build-tool-image-amd64-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-ppc64le-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-s390x-postsubmit: any of: prow/docker/build-tool/*
  build-tool-multiarch-image-postsubmit: any of: prow/docker/build-tool/*
