Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, create-build-tool-images

prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml:

presubmits:
  IBM/test-infra:
  - name: pull-test-infra-prow-checkconfig
    branches:
      - ^master$
    decorate: true
    path_alias: github.com/IBM/test-infra
    rerun_command: /test checkconfig test-infra
    run_if_changed: '^prow/(config|plugins|cluster/jobs/.*)\.yaml$'
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20190703-1f4d61631
        command:
        - /checkconfig
        args:
        - --config-path=prow/config.yaml
        - --job-config-path=prow/cluster/jobs
        - --plugin-config=prow/plugins.yaml
        - --strict
        - --exclude-warning=mismatched-tide
        - --exclude-warning=unknown-fields
        - --exclude-warning=non-decorated-jobs
    trigger: '(?m)^/test (?:.*? )?checkconfig(?: .*?)?$'
  - name: build_test-infra
    branches:
    - ^master$
    decorate: true
    always_run: true
    path_alias: github.com/IBM/test-infra
    rerun_command: /test build test-infra
    spec:
      containers:
      - command:
        - make
        - build
        image: quay.io/multicloudlab/build-tools:v20191217-d33a10d
        name: ""
        securityContext:
          privileged: true
    trigger: '(?m)^/test (?:.*? )?build(?: .*?)?$'
  - name: check_test-infra
    branches:
    - ^master$
    decorate: true
    always_run: true
    path_alias: github.com/IBM/test-infra
    rerun_command: /test check test-infra
    spec:
      containers:
      - command:
        - make
        - check
        image: quay.io/multicloudlab/build-tools:v20191217-d33a10d
        name: ""
        securityContext:
          privileged: true
    trigger: '(?m)^/test (?:.*? )?check(?: .*?)?$'
  - name: test_test-infra
    branches:
    - ^master$
    decorate: true
    always_run: true
    path_alias: github.com/IBM/test-infra
    rerun_command: /test test test-infra
    spec:
      containers:
      - command:
        - make
        - test
        image: quay.io/multicloudlab/build-tools:v20191217-d33a10d
        name: ""
        securityContext:
          privileged: true
    trigger: '(?m)^/test (?:.*? )?test(?: .*?)?$'

postsubmits:

prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml:

presubmits:

postsubmits:
  IBM/test-infra:
  - name: create-build-tool-images
    decorate: true
    branches:
    - ^master$
    labels:
      preset-service-account: "true"
    run_if_changed: 'prow/docker/*'
    spec:
      containers:
        - image: quay.io/multicloudlab/multicloudlab-builder:v20191217-d33a10d
          # docker in docker
          securityContext:
            privileged: true
          command:
            - entrypoint
            - make
            - images

update name for two ingress repos.
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-management-ingress-operator/IBM.ibm-management-ingress-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

fix tide cinfigurations for two ingress repos.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

added myself to OWNERS for catalog and cloudctl
  prow/cluster/jobs/IBM/ibm-catalog-operator/OWNERS
  prow/cluster/jobs/IBM/ibm-cloudctl-operator/OWNERS
Due: none

onboard monitoring operator reops.
  prow/cluster/jobs/IBM/ibm-monitoring-exporters-operator/IBM.ibm-monitoring-exporters-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-prometheus-operator-ext:/IBM.ibm-monitoring-prometheus-operator-ext.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

update meta-operator repo name.
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/OWNERS
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

add docker-in-docker s390 support.
  prow/docker/docker-in-docker/Dockerfile.s390x
  prow/docker/docker-in-docker/install.sh
Due: create-build-tool-images

support build on s390x cluster.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/cluster/jobs/multicloudlab/oasis/multicloudlab.oasis.master.yaml
Due: pull-test-infra-prow-checkconfig

onnoard IBM/ibm-platform-api-operator.
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

update utility_images.
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

enable more plugins for multicloudlab org.
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

pass config check.
  prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

onboard ibm-elastic-stack-operator.
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

update prowjobs for ibm-elastic-stack-operator.
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

add dockerfiles.
  prow/dockerfiles/Dockfile.clonerefs
  prow/dockerfiles/Dockfile.entrypoint
  prow/dockerfiles/Dockfile.initupload
  prow/dockerfiles/Dockfile.sidecar
Due: create-build-tool-images

add dockerfiles for more platform.
  prow/dockerfiles/Dockfile.clonerefs.ppc64le
  prow/dockerfiles/Dockfile.clonerefs.s390x
  prow/dockerfiles/Dockfile.entrypoint.ppc64le
  prow/dockerfiles/Dockfile.entrypoint.s390x
  prow/dockerfiles/Dockfile.initupload.ppc64le
  prow/dockerfiles/Dockfile.initupload.s390x
  prow/dockerfiles/Dockfile.sidecar.ppc64le
  prow/dockerfiles/Dockfile.sidecar.s390x
Due: create-build-tool-images

add docker for build stage.
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

support real multi-arch build for go-repo-template.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

update multi-arch build for go-repo-template.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

fix lint.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

remove unused secrets.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

update prow job for build tools.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: pull-test-infra-prow-checkconfig

fix check failure.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: pull-test-infra-prow-checkconfig

update check and build tool images.
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
  prow/docker/build-tool/docker-entrypoint.sh
  prow/docker/build-tool/install.sh
  prow/docker/build-tool/prow-runner.sh
  prow/docker/check-tool/Dockerfile
Due: create-build-tool-images

fix check tool build.
  prow/docker/check-tool/Dockerfile
Due: create-build-tool-images

update prow job for build-tool multiarch image.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: pull-test-infra-prow-checkconfig

fix build-tool image build.
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
Due: create-build-tool-images

fix build-tools image tag.
  Makefile
Due: none

fix build-tools image build on ppc64le.
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/build-and-push.sh
  prow/docker/check-tool/build-and-push.sh
Due: create-build-tool-images

revert built-tool ppc64le image.
  prow/docker/build-tool/Dockerfile.ppc64le
Due: create-build-tool-images

unify dockerfile for build-tool image.
  prow/docker/build-tool/Dockerfile.amd64
  prow/docker/build-tool/Dockerfile.ppc64le
  prow/docker/build-tool/Dockerfile.s390x
  prow/docker/build-tool/build-and-push.sh
Due: create-build-tool-images

add build args for build-tool image.
  prow/docker/build-tool/Dockerfile
  prow/docker/build-tool/build-and-push.sh
Due: create-build-tool-images

update build-tool images for prow jobs.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

add more tools to build tools images.
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: create-build-tool-images

update build-tool image version for prow jobs.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig

fix docker in docker settings.
  prow/docker/build-tool/Dockerfile
Due: create-build-tool-images

update prow jobs for helm repos.
  prow/cluster/jobs/IBM/ibm-catalog-operator/IBM.ibm-catalog-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/IBM.ibm-catalog-ui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/OWNERS
  prow/cluster/jobs/IBM/ibm-helm-repo-operator/IBM.ibm-helm-repo-operator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

fix docker-in-docker storage issue.
  prow/docker/build-tool/Dockerfile
Due: create-build-tool-images

update build-tool image version.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.yaml
Due: pull-test-infra-prow-checkconfig
