Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-prow-checkconfig, check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

Path conditions:
  test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  check-tool-image-postsubmit: any of: prow/docker/check-tool/*
  build-tool-image-amd64-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-ppc64le-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-s390x-postsubmit: any of: prow/docker/build-tool/*
  build-tool-multiarch-image-postsubmit: any of: prow/docker/build-tool/*

Revert "update ruby install for check-tool. (#290)"
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit

Revert "update build-tool image (#289)"
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template-release-1.1.yaml
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.master.yaml
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.release-3.8.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.6.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-4.0.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.release-1.2.yaml
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.release-1.4.yaml
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.release-3.7.yaml
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.release-3.8.yaml
  prow/cluster/jobs/IBM/ibm-iam-policy-operator/IBM.ibm-iam-policy-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-hub-operator/IBM.ibm-licensing-hub-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.development.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.release-3.6.yaml
  prow/cluster/jobs/IBM/ibm-management-ingress-operator/IBM.ibm-management-ingress-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-management-ingress-operator/IBM.ibm-management-ingress-operator.release-1.4.yaml
  prow/cluster/jobs/IBM/ibm-management-repo-operator/IBM.ibm-management-repo-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.release-1.2.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.release-1.0.yaml
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.release-3.8.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.release-1.3.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.release-1.4.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
Due: test-infra-prow-checkconfig

revert check-tool version for helm operators
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/IBM.ibm-catalog-ui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.release-v3.1.5.yaml
  prow/cluster/jobs/IBM/ibm-helm-api-operator/IBM.ibm-helm-api-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-helm-repo-operator/IBM.ibm-helm-repo-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.release-3.8.yaml
Due: test-infra-prow-checkconfig

update go version to 1.15.7
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

test using helm 3 linting
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
Due: test-infra-prow-checkconfig

create monitoring eus jobs
  prow/cluster/jobs/IBM/ibm-monitoring-exporters-operator/IBM.ibm-monitoring-exporters-operator.eus.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-prometheus-operator-ext:/IBM.ibm-monitoring-prometheus-operator-ext.eus.yaml
Due: test-infra-prow-checkconfig

updated check tool to use helm 3 linting after PR is merged
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
Due: test-infra-prow-checkconfig

enable release-3.8 for auditlogging
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.release-3.8.yaml
Due: test-infra-prow-checkconfig

custom test on development branch
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.development.yaml
Due: test-infra-prow-checkconfig

create 3.7 version branch for installer operators
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.release-3.7.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.release-1.3.yaml
  prow/cluster/jobs/IBM/ibm-namespace-scope-operator/IBM.ibm-namespace-scope-operator.release-1.1.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.release-1.4.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.release-1.5.yaml
Due: test-infra-prow-checkconfig

Create IBM.ibm-commonui-operator.release-1.5.yaml
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.release-1.5.yaml
Due: test-infra-prow-checkconfig

address comments
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.release-1.5.yaml
Due: test-infra-prow-checkconfig

fix typo
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.release-1.5.yaml
Due: test-infra-prow-checkconfig

Create IBM.ibm-mongodb-operator.release-1.3.yaml
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.release-1.3.yaml
Due: test-infra-prow-checkconfig

Update IBM.ibm-mongodb-operator.release-1.3.yaml
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.release-1.3.yaml
Due: test-infra-prow-checkconfig

Create IBM.ibm-iam-operator.release-3.9.yaml
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.release-3.9.yaml
Due: test-infra-prow-checkconfig

enable prow build for ibm-crossplane-operator
  prow/cluster/jobs/IBM/ibm-crossplane-operator/IBM.ibm-crossplane-operator.master.yaml
Due: test-infra-prow-checkconfig

update config.yaml
  prow/config.yaml
Due: test-infra-prow-checkconfig

enable eus stream for healthcheck operator
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.release-3.8.yaml
Due: test-infra-prow-checkconfig

enable 3.11 release for grafana-operator
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.release-1.11.yaml
Due: test-infra-prow-checkconfig

enable prow build for ibm-crossplane
  prow/cluster/jobs/IBM/ibm-crossplane/IBM.ibm-crossplane.master.yaml
  prow/config.yaml
Due: test-infra-prow-checkconfig

using go 1.14 for crossplane
  prow/cluster/jobs/IBM/ibm-crossplane/IBM.ibm-crossplane.master.yaml
Due: test-infra-prow-checkconfig

enable experimental
  prow/docker/build-tool/docker-entrypoint.sh
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

replace build image of crossplane
  prow/cluster/jobs/IBM/ibm-crossplane/IBM.ibm-crossplane.master.yaml
Due: test-infra-prow-checkconfig

fix typo
  prow/docker/build-tool/docker-entrypoint.sh
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

set mtu for DinD
  prow/docker/build-tool/docker-entrypoint.sh
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

replace build image
  prow/cluster/jobs/IBM/ibm-crossplane/IBM.ibm-crossplane.master.yaml
Due: test-infra-prow-checkconfig

enable odlm e2e test
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
Due: test-infra-prow-checkconfig

update operator-sdk version to 1.3.0
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit, build-tool-multiarch-image-postsubmit

update odlm build image
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
Due: test-infra-prow-checkconfig

enable ssh for internal repo
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.master.yaml
Due: test-infra-prow-checkconfig

enable release-3.8 for metering
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.release-3.8.yaml
Due: test-infra-prow-checkconfig

enable release-1.4 for ingress-nginx
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.release-1.4.yaml
Due: test-infra-prow-checkconfig

fix metering multiarch build
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.release-3.8.yaml
Due: test-infra-prow-checkconfig

update owners
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/OWNERS
Due: none
