Repository IBM/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-test-infra-prow-checkconfig, check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

Path conditions:
  pull-test-infra-prow-checkconfig: any of: ^prow/(config|plugins|cluster/jobs/.*)\.yaml$
  check-tool-image-postsubmit: any of: prow/docker/check-tool/*
  build-tool-image-amd64-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-ppc64le-postsubmit: any of: prow/docker/build-tool/*
  build-tool-image-s390x-postsubmit: any of: prow/docker/build-tool/*

update build tool version for ibm-cert-manager-operator
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

fix build tool for ibm-auditlogging-operator
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

upgrade golang for build-tool and check-tool.
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/Dockerfile
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

updte build-tool image for build-tool.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: pull-test-infra-prow-checkconfig

use wget to download binaries.
  prow/docker/build-tool/Dockerfile
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

fix check image for prowjobs.
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

fix mtu issue on ppc64le build-tool.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
  prow/docker/build-tool/docker-entrypoint.sh
Due: pull-test-infra-prow-checkconfig, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

support local build.
  Makefile
Due: none

fix mtu issue on ppc64le build-tool.
  prow/docker/build-tool/docker-entrypoint.sh
Due: build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

upgrade build-tool image for prowjobs.
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.yaml
Due: pull-test-infra-prow-checkconfig

upgrade build-tool and check-tool.
  prow/docker/build-tool/Dockerfile
  prow/docker/check-tool/build-and-push.sh
Due: check-tool-image-postsubmit, build-tool-image-amd64-postsubmit, build-tool-image-ppc64le-postsubmit, build-tool-image-s390x-postsubmit

upgrade build-tool and check-tool.
  prow/cluster/jobs/IBM/deployer-operator/ibm.deployer-operator.master.yaml
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template.master.yaml
  prow/cluster/jobs/IBM/hybridapplication-operator/ibm.hybridapplication-operator.master.yaml
  prow/cluster/jobs/IBM/hybriddeployable-operator/ibm.hybriddeployable-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-operator/IBM.ibm-common-service-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-common-service-webhook/IBM.ibm-common-service-webhook.master.yaml
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
  prow/cluster/jobs/IBM/ibm-healthcheck-operator/IBM.ibm-healthcheck-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-hub-operator/IBM.ibm-licensing-hub-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-management-ingress-operator/IBM.ibm-management-ingress-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-multicloudui-operator/IBM.ibm-metering-multicloudui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-receiver-operator/IBM.ibm-metering-receiver-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-sender-operator/IBM.ibm-metering-sender-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.master.yaml
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-application-assembler/hybridapp-io.ham-application-assembler.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deploy/hybridapp-io.ham-deploy.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-deployable-operator/hybridapp-io.ham-deployable-operator.release.yaml
  prow/cluster/jobs/hybridapp-io/ham-placement/hybridapp-io.ham-placement.master.yaml
  prow/cluster/jobs/hybridapp-io/ham-resource-discoverer/hybridapp-io.ham-resource-discoverer.master.yaml
Due: pull-test-infra-prow-checkconfig

Remove testing on power and z for ODLM
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
Due: pull-test-infra-prow-checkconfig

remove build case for secretshare
  prow/cluster/jobs/IBM/ibm-secretshare-operator/IBM.ibm-secretshare-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

update old build-tools image.
  prow/cluster/jobs/IBM/ibm-auditlogging-operator/IBM.ibm-auditlogging-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-catalog-ui-operator/IBM.ibm-catalog-ui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-cert-manager-operator/IBM.ibm-cert-manager-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-commonui-operator/IBM.ibm-commonui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-helm-api-operator/IBM.ibm-helm-api-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-helm-repo-operator/IBM.ibm-helm-repo-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-iam-operator/IBM.ibm-iam-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-hub-operator/IBM.ibm-licensing-hub-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-management-repo-operator/IBM.ibm-management-repo-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-multicloudui-operator/IBM.ibm-metering-multicloudui-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-receiver-operator/IBM.ibm-metering-receiver-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-metering-sender-operator/IBM.ibm-metering-sender-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-mongodb-operator/IBM.ibm-mongodb-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-exporters-operator/IBM.ibm-monitoring-exporters-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-monitoring-prometheus-operator-ext:/IBM.ibm-monitoring-prometheus-operator-ext.master.yaml
  prow/cluster/jobs/IBM/ibm-mt-grqenforcer-operator/IBM.ibm-mt-grqenforcer-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-platform-api-operator/IBM.ibm-platform-api-operator.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-channel/IBM.multicloud-operators-channel.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-deployable/IBM.multicloud-operators-deployable.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-placementrule/IBM.multicloud-operators-placementrule.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-subscription-release/IBM.multicloud-operators-subscription-release.master.yaml
  prow/cluster/jobs/IBM/multicloud-operators-subscription/IBM.multicloud-operators-subscription.master.yaml
  prow/cluster/jobs/IBM/test-infra/IBM.test-infra.master.yaml
  prow/cluster/jobs/multicloudlab/oasis/multicloudlab.oasis.master.yaml
  prow/cluster/jobs/multicloudlab/tools/multicloudlab.tools.master.yaml
  prow/cluster/jobs/multicloudlab/tools/multicloudlab.tools.yaml
  prow/cluster/jobs/rh-ibm-synergy/multicloud-operators-cluster-controller/rh-ibm-synergy.multicloud-operators-cluster-controller.master.yaml
  prow/cluster/jobs/rh-ibm-synergy/multicloud-operators-foundation/rh-ibm-synergy.multicloud-operators-foundation.master.yaml
Due: pull-test-infra-prow-checkconfig

add lib2to3 and update code coverage image for odlm
  common/Makefile.common.mk
  prow/cluster/jobs/IBM/operand-deployment-lifecycle-manager/IBM.operand-deployment-lifecycle-manager.master.yaml
Due: pull-test-infra-prow-checkconfig

revert prowjob for ibm-monitoring-grafana-operator.
  prow/cluster/jobs/IBM/ibm-monitoring-grafana-operator/IBM.ibm-monitoring-grafana-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

remove unused periodic jobs.
  prow/cluster/jobs/all-periodics.yaml
Due: pull-test-infra-prow-checkconfig

update prow job for ibm-grafana-ocpthanos-proxy.
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
Due: pull-test-infra-prow-checkconfig

Revert "update prow job for ibm-grafana-ocpthanos-proxy. (#238)"
  prow/cluster/jobs/IBM/ibm-grafana-ocpthanos-proxy/IBM.ibm-grafana-ocpthanos-proxy.master.yaml
Due: pull-test-infra-prow-checkconfig

onboard IBM/prometheus-metrics-server-simulator.
  prow/cluster/jobs/IBM/prometheus-metrics-server-simulator/ibm.prometheus-metrics-server-simulator.master.yaml
  prow/config.yaml
Due: pull-test-infra-prow-checkconfig

cut release branch v3.1.5 for elastic-stack-operator.
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.release-v3.1.5.yaml
Due: pull-test-infra-prow-checkconfig

Allow development jobs
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

License Service development prow job
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.development.yaml
Due: pull-test-infra-prow-checkconfig

revert License Service master branch prow job
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

fix incorrect path alias.
  prow/cluster/jobs/IBM/ibm-licensing-hub-operator/IBM.ibm-licensing-hub-operator.master.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.development.yaml
  prow/cluster/jobs/IBM/ibm-licensing-operator/IBM.ibm-licensing-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

add new approver.
  OWNERS
Due: none

fix multiarch image build for ibm-elastic-stack-operator.
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

fix lint issue.
  prow/cluster/jobs/IBM/ibm-elastic-stack-operator/IBM.ibm-elastic-stack-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

sync prow deploy manifests.
  prow/cluster/deploy/cherry-picker.yaml
  prow/cluster/deploy/need-rebase.yaml
  prow/cluster/deploy/prow-all-in-one.yaml
Due: none

update build-tool image for prowjobs.
  prow/cluster/jobs/IBM/go-repo-template/ibm.go-repo-template-release-1.1.yaml
Due: pull-test-infra-prow-checkconfig

fix prow jobs for ibm-ingress-nginx-operator.
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

update prow jobs for ibm-ingress-nginx-operator.
  prow/cluster/jobs/IBM/ibm-ingress-nginx-operator/IBM.ibm-ingress-nginx-operator.master.yaml
Due: pull-test-infra-prow-checkconfig

manage metering operator 3.7 branch
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.release-3.7.yaml
Due: pull-test-infra-prow-checkconfig

cut release-3.7 branch for the ibm-metering-operator
  prow/cluster/jobs/IBM/ibm-metering-operator/IBM.ibm-metering-operator.release-3.7.yaml
Due: pull-test-infra-prow-checkconfig

add new reviewers and approvers.
  OWNERS
Due: none

remove inactive owners.
  OWNERS
Due: none
